

@font-face {
    font-family: 'motherland';
    src: local('motherland'),
          url('./assets/motherland.ttf') format('truetype');
}
@font-face {
    font-family: 'Red October';
    src: local('Red October'),
          url('./assets/Red October.ttf') format('truetype');
}

.App {
  background-image: url('https://images3.alphacoders.com/218/thumb-1920-218535.jpg');
  text-align: center;
  margin:0;
  padding:0;
  width: 100%;
  height: 96vh;
  outline:none;
}

h1 {
  font-family: 'motherland';
   font-size: 150px;

  margin: 0;
  padding-top:30px;

}

button {
  color:black;
  font-weight: bold;
  background-color:rgb(231, 203, 77);
  padding: 8px 6px;
  width: 285px;
  border: 0px solid black;
}

input {
   font-family: 'SovjetBoxbold';
  padding: 8px 12px;
  width: 160px;
  border-radius: 12px;
  outline:none;
}
